@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config './tailwind.config.js';

body *  {
    border-radius: .5em 0 !important;
}

.leaf-pattern {
    fill:red;
}
.fi-main-ctn {
    /* background-color: #f9f8f7; */
    @apply bg-gray-50 dark:bg-gray-950
}

.fi-sidebar-header {
    @apply bg-gray-50 dark:bg-gray-900 border-none ring-gray-50
}
.fi-sidebar {
    @apply bg-gray-50 dark:bg-gray-900 
}
.fi-sidebar-item a {
    @apply text-gray-700
}

.fi-sidebar-item.fi-sidebar-item-active a, .fi-sidebar-item:hover a {
    @apply bg-transparent bg-gradient-to-r from-white dark:from-primary-900 to-transparent text-primary-700;
}

.fi-sidebar-item-icon {
    @apply text-gray-500 opacity-70;
}

.fi-sidebar-item.fi-sidebar-item-active a svg {
    @apply text-primary-500 opacity-90
}
.fi-topbar nav {
    background: #f9f8f7 url(/public/img/leaf-pattern-2.svg);
    background-size: 60em;
    @apply relative z-20
}
@media (prefers-color-scheme: dark) {
    .fi-topbar nav {
        background: rgb(46, 94, 21) url(/public/img/leaf-pattern-2-dark.svg);
        background-size: 60em;
        @apply relative z-20
    }
}

.fi-topbar nav button {
    @apply bg-gray-50 dark:bg-gray-900 border border-primary-600
}
.fi-topbar::after {
    content: '';
    @apply absolute z-10 bottom-0 h-12 w-full bg-gradient-to-t from-gray-50 to-transparent
}

input[type="checkbox"]  {
    border-radius: .3em 0 !important;
}
.fi-btn {
    @apply relative hover:-mt-1 transition-all duration-300 ease-in-out;
}

.fi-btn::after {
    content: '';
    @apply absolute -z-10  translate-x-1 translate-y-1 h-full w-full bg-gray-200 rounded-tl-lg rounded-br-lg motion-reduce:transition-none duration-300 ease-in-out hover:translate-y-1.5;
}
.fi-btn-color-primary {
    @apply bg-primary-600 dark:bg-primary-800
}
.fi-btn-color-primary::after {
    content: '';
    @apply bg-primary-600 opacity-20;
}
/* Table Content */
.fi-ta-ctn {
    /* @apply shadow-md */
}
/* Table Header Content */
.fi-ta-header-ctn {
    @apply bg-gray-50 dark:bg-gray-900
}