@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config './tailwind.config.js';

body  {
    background: #3e6caf url(/public/img/bg-macos-aqua.jpeg) no-repeat fixed;
    background-size: cover;
    padding-bottom: 6rem
}

.leaf-pattern {
    fill:red;
}


.fi-main {
    @apply mt-10 bg-gray-50 dark:bg-gray-900 pt-0 rounded-md shadow-2xl border border-gray-500 overflow-hidden
}
.fi-sidebar-open {
    @apply bg-white
}
.fi-sidebar-header {
    @apply ring-0
}
.fi-topbar {
    @apply  bg-white shadow-lg
}
.fi-topbar > nav {
    @apply h-8 gap-0
}

.fi-topbar .fi-dropdown-trigger button {
    @apply border-0 bg-transparent p-0 text-sm
}

.fi-topbar .fi-dropdown-trigger:has(.fi-topbar-item-active) {
    @apply py-2 px-3 bg-gradient-to-t from-primary-600 to-primary-400 text-white
}
.fi-topbar .fi-dropdown-trigger:has(.fi-topbar-item-active) button {
    @apply text-white !important
}

.fi-topbar-item a {
    @apply text-sm bg-transparent py-2 px-3 rounded-none hover:bg-gradient-to-t from-primary-600 to-primary-400 hover:text-white
}
.fi-topbar-item-active a{
    @apply bg-gradient-to-t from-primary-600 to-primary-400 text-white
}


.fi-topbar .fi-dropdown-trigger button div{
    @apply w-6 h-6
}


.fi-header {
    @apply relative -mt-8 -mx-8 bg-gradient-to-t from-slate-300 to-slate-200 p-2 border-b border-gray-500 justify-center !important
}
.fi-header::before {
    content: ' ';
    @apply absolute top-0 w-full border-t border-white
}
.fi-header .fi-header-heading {
    @apply text-sm
}

.fi-sidebar-header {
    @apply bg-gray-50 dark:bg-gray-900 border-none ring-gray-50
}


.fi-sidebar-item.fi-sidebar-item-active a, .fi-sidebar-item:hover a {
    @apply bg-transparent bg-gradient-to-r from-white dark:from-primary-900 to-transparent text-primary-700;
}

.fi-sidebar-item-icon {
    @apply text-gray-500 opacity-70;
}

.fi-sidebar-item.fi-sidebar-item-active a svg {
    @apply text-primary-500 opacity-90
}
.fi-topbar nav {
    @apply bg-transparent shadow-none border-none relative z-20
}
/* @media (prefers-color-scheme: dark) {
    .fi-topbar nav {
        @apply bg-transparent first-letter:relative z-20
    }
} */

/* .fi-topbar nav button {
    @apply bg-gray-50 dark:bg-gray-900 border border-primary-600
} */

.fi-icon-btn-icon {
    @apply w-5 h-5
}
.fi-icon-btn-badge-ctn {
    @apply top-1
}

.fi-input-wrp, .fi-fo-textarea {
    @apply border border-gray-200 rounded shadow-inner !important
}

.fi-topbar .fi-input-wrp {
    @apply py-0 -mt-1 leading-none bg-gray-100 border-none shadow-none rounded-none ring-0
}

.fi-global-search-field {
    /* @apply py-0 leading-none border-none shadow-none  */
}


input[type="checkbox"]  {
    @apply rounded-sm shadow-inner
}

.fi-btn {
    @apply relative overflow-hidden pb-0 leading-3 px-5 bg-gradient-to-b from-gray-400 via-gray-200 to-gray-50 p-0 border border-gray-300 rounded-full focus:ring-gray-500/50 hover:from-gray-500 hover:via-gray-300 hover:to-gray-100
}
.fi-btn::before {
    content: '';
    @apply  blur-[2px] rounded-2xl bg-gray-100 absolute -top-1 opacity-90 h-3 w-[90%] left-[5%]
}

.fi-btn-color-primary {
    @apply bg-gradient-to-b from-primary-400 via-primary-200 to-primary-50 border border-primary-300 focus:ring-primary-500/50 hover:from-primary-500 hover:via-primary-300 hover:to-primary-100
}

.fi-btn-color-danger {
    @apply bg-gradient-to-b from-red-400 via-red-200 to-red-100 border border-red-400 focus:ring-red-500/50 hover:from-red-500 hover:via-red-300 hover:to-red-100
}

.fi-btn-label {
    @apply relative -top-0.5 pt-1.5 pb-0.5 font-bold text-sm text-gray-700
}

.fi-btn-color-primary .fi-btn-label {
    @apply text-primary-900
}

.fi-btn-color-danger .fi-btn-label {
    @apply text-red-800
}


/* Table Content */
.fi-ta-ctn {
    @apply rounded
}
.fi-section {
    @apply bg-white border-none ring-0 rounded
}
.fi-section-header-heading {
    @apply text-sm
}
.fi-section-content-ctn {
    @apply bg-gray-50 dark:bg-gray-900
}
.EasyMDEContainer .CodeMirror{
    @apply shadow-inner
}
/* Table Header Content */
.fi-ta-header-ctn {
    @apply bg-gray-50 dark:bg-gray-900
}

/* Form Actions on header and footer */
.fi-ac {
    @apply justify-end
}
.fi-ac a {
    @apply absolute top-12 right-8 z-10
}
.fi-ac .fi-btn-color-danger {
    @apply absolute top-12 right-8 z-10
}